#layout(ng-class="{ active : vm.showNav }")
  #menuLink.menu-link(ng-click="vm.showNav = !vm.showNav")
    span
  #menu
    .pure-menu
      //- a.pure-menu-heading(href='#') Company
      ul.pure-menu-list
        li.pure-menu-item
          a.pure-menu-link(href='#/' ng-click="vm.hide()") Home
        li.pure-menu-item
          a.pure-menu-link(href='#/map' ng-click="vm.hide()") Map
        li.pure-menu-item
          a.pure-menu-link(href='#/report' ng-click="vm.hide()" ng-show="vm.loggedIn()") Report
        li.pure-menu-item
          a.pure-menu-link(href='' ng-hide="vm.loggedIn()" ng-click="vm.login()") Login
        li.pure-menu-item
          a.pure-menu-link(href='' ng-show="vm.loggedIn()" ng-click="vm.logout()") Logout
