extends ./layout

block content
    h1 Welcome to Hit the breaks!
    form(action="/connect/facebook" method="post" accept-charset="utf-8")
        button Join with Facebook
    //- hr
    //- form(method="POST" )
    //-   label First Name
    //-   input(type="text" name="name")

    //-   label Last Name
    //-   input(type="text" name="name")

    //-   label Email
    //-   input(type="email" name="email")

    //-   label Postcode
    //-   input(type="number" name="postcode")

    //-   button Login
      