#home.box

  .logo
    img(src="public/logobig.png" style="width: 360px;")

  br

  button.ladda-button(
  	ng-if="!vm.isUser()"
  	ng-click="vm.authenticate('facebook')"
  	ladda-button="vm.laddaLoading"
  	data-style="expand-right") Login via Facebook
