#home.box

  .logo
    img(src="public/logobig.png" style="max-width: 440px;width:100%;")

  br

  button.ladda-button(
  	ng-if="!vm.isUser()"
  	ng-click="vm.authenticate('facebook')"
  	ladda-button="vm.laddaLoading"
  	data-style="expand-right") Login via Facebook

  //- button.ladda-button(
  //- 	ng-if="!vm.isUser()"
  //- 	ng-click="vm.authenticate('facebook')"
  //- 	ladda-button="vm.laddaLoading"
  //- 	data-style="expand-right") Login via Email
