#home.box

  .logo
    img(src="public/logobig.png" style="max-width: 440px;width:100%;")

  br

  button.desktop.ladda-button(
    ng-click="vm.authenticate('facebook')"
    ladda-button="vm.laddaLoading"
    data-style="expand-right") Login via Facebook

  //- Mobile form
  form.mobile(name="loginForm")
    input(type="text" ng-model="vm.newUser.email" placeholder="Email")
    input(type="password" ng-model="vm.newUser.password" placeholder="Password")
    button.ladda-button(ng-click="vm.signup()" ng-disabled="loginForm.$invalid" ladda-button="vm.laddaLoading" data-style="expand-right") Login
