h1 Welcome to Hit the breaks!

//- If not logged in
form(action="/connect/facebook" method="post" accept-charset="utf-8")
    button Login via Facebook to start reporting incidents

//- If logged in
button Report

a(href="/map") View Map

      