#home {
  .logo:before {
    content: "";
    background: #ED2226;
    width: 100%;
    height: 110px;
    top: 29px;
    right: 59%;
    position: absolute;
  }
}

@media (min-width: @tabletWidthMin) and (max-width: @tabletWidthMax) {

  #home {
    .logo:before {
      right: 63% !important;
    }
  }

}

@media (max-width: @mobileWidth) {

  #home {
    .logo:before {
      right: 74% !important;
    }
  }

}
