//- Form
include ./map.form.jade

//- Preview
include ./map.preview.jade

//- Map
.box(ng-if="!vm.center")
	h1 Loading Map

button.report-button.ladda-button(
	ng-click="vm.showReport()"
	ladda-button="vm.laddaLoading"
	data-style="slide-up") Report

div( ng-if="vm.center" )
	map( ng-style="vm.style" zoom="15" styles="{{vm.colours}}" center="{{ vm.center.latitude }}, {{vm.center.longitude}}" draggable="true" dragging-cursor="move" disable-default-u-i="true" )
		div(ng-repeat="marker in vm.markers track by marker.doc.id")
			marker( on-click="vm.view(marker)" on-mouseover="showInfoWindow(event, '{{marker.doc.id}}')" on-mouseout="hideInfoWindow(event, '{{marker.doc.id}}')" animation="DROP"  position="{{ marker.doc.latitude }}, {{marker.doc.longitude}}" )
			info-window( id="{{marker.doc.id}}" max-width='400')
				div(ng-non-bindable='' style="color:#333")
					p {{ marker.doc.type }} at {{ marker.doc.createdAt | date:'medium' }}
