button.report-button.ladda-button(
	ng-click="vm.report()"
	ladda-button="vm.laddaLoading"
	data-style="expand-right") Report

div( ng-if="vm.center" )
	map( ng-style="vm.style" zoom="14" styles="{{vm.colours}}" center="{{ vm.center.latitude }}, {{vm.center.longitude}}" draggable="true" dragging-cursor="move" disable-default-u-i="true" )
		marker( animation="DROP" ng-repeat="marker in vm.markers" position="{{ marker.doc.latitude }}, {{marker.doc.longitude}}" )
