.reports-page.container
	h1 Your Reports

	.reports-edit(ng-if="vm.editing")
		label Type
		select(ng-model="vm.editing.type" ng-options="type as type for type in vm.types")

		label Details about the incident
		textarea(ng-model="vm.editing.details")

		hr

		button.ladda-button(ng-click="vm.update()") Update
		button.ladda-button.button-danger(ng-click="vm.delete()") Delete
		button.ladda-button.button-light(ng-click="vm.editing = false") Cancel

	.row
		a.item.reports-item(ng-repeat="report in vm.reports" ng-click="vm.edit(report)")

			map( scrollwheel="false" style="width:100%;height:150px;" styles="{{vm.colours}}" zoom="16" center="{{ report.latitude }}, {{ report.longitude}}" draggable="false" dragging-cursor="pointer" disable-default-u-i="true" )
				marker( animation="DROP"  position="{{ report.latitude }}, {{ report.longitude}}" )

			.padding
				h5 {{ report.type }}
				p Reported at {{ report.createdAt | date }}
