h1 Hey {{ vm.user | json }}

button(ng-click="vm.report()") Report current location
button(ng-click="vm.logout()") Logout

//- p or

//- form(name="reportForm")
//- 	input(type="text" ng-model="new.address" placeholder="Address" required)
//- 	select(ng-model="new.type")
//- 		option(value="crash") Crash
//- 		option(value="abuse") Abuse
//- 		option(value="almost") Almost crash
//- 	button(ng-click="report()" ng-disabled="reportForm.$invalid") Report using address
